<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="./bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <link href="./stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%=title%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
	 		<ul class="nav navbar-nav">		  		
		  		<li><a href="/chart">환경데이터</a></li>
		  		<li><a href="/shutter">창 제어</a></li>
		  		<li><a href="/sprinkler">관수 제어</a></li>		
		  		<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">제어예약<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/scheduleShutter">창 예약</a></li>
		  		    <li><a href="/scheduleSprinkler">관수 예약</a></li>
		  		    <li><a href="/notification">환경데이터 알림</a></li>
		  		  </ul>
                </li>	
                <li class="active" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">자동예약<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/soilMoistureControl">토양습도 자동제어</a></li>
		  			<li class="active"><a href="/temperatureControl">내부온도 자동제어</a></li>
                  </ul>
                </li>	
                <li><a href="/history">제어 이력</a></li>
	 		</ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
     
    <br><br><br>
   
      <div class="container">
	  	<div class="row">
	        <div class="col-md-12">
	        	<div class="page-header">
				    <h2>Shutter Schedule</h2>
				</div>
				<div class="alert alert-warning fade in">
				    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				    <strong>Warning!</strong> 시작 혹은 종료 시간을 확인 하세요.
				</div>     
				
			    <table class="table table-striped" align="center">
			     <tr>
				    <th>ID</th>
				    <th>Title</th>
				    <th>Side</th>
				    <th>Position</th>
				    <th>Step</th>
				    <th>Start</th>
				    <th>End</th>
				    <%
				    //environmentConfig
				    for(ev = 0; ev < environmentConfig.length; ev++){
				    	var conf = environmentConfig[ev];
				    	
				    	if(environmentConfig.length > (ev+1) && conf.unit == environmentConfig[ev+1].unit){
				    		continue;
				    	}
				    	
				    	%>
					    
					    <th colspan=4><%= conf.unit%></th>
					    
					    <%
				    }
				    %>
				    <th>Apply</th>
				    <th>Add</th>
				    <th>Delete</th>
				  </tr>
				  
				  <%
				  
				  var len = shutterSchedule == null ? 0 : shutterSchedule.length;
				  
				  var maxStepNum = 0;
				  var i;  
			  	  for(i = 0; i < shutterConfig.length; i++){
			  		var stepNum = shutterConfig[i].stepNum;
			  		if(maxStepNum < stepNum){
				  		maxStepNum = stepNum;
				  	}
				  }
				  console.log(maxStepNum);
				  
				  var sides = [];
				  
				  for(i = 0; i < shutterConfig.length; i++){
					var side = shutterConfig[i].side;
					var sameValue = false;
					for(var j=0; j < sides.length; j++){
						if(side == sides[j])
							sameValue = true;
					}
					
					if(!sameValue)
						sides.push(side);
				  }
				  
				  console.log(sides);
				  
				  var positions = [];
				  
				  for(i = 0; i < shutterConfig.length; i++){
					var position = shutterConfig[i].position;
					var sameValue = false;
					for(var j=0; j < positions.length; j++){
						if(position == positions[j])
							sameValue = true;
					}
					
					if(!sameValue)
						positions.push(position);
				  }
				  
				  console.log(positions);
				  
				  for (i = 0; i < len; i++) { 
					schedule = shutterSchedule[i];
				  
				  %>
				  <tr>
				  	<td id='id-<%= schedule.id%>'><%= schedule.id%></td> 
				  	<td>
				  	<input id='title-<%= schedule.id%>' style='min-width: 120px;' type="text" class="form-control" placeholder="scheduling title" aria-describedby="basic-addon2" value='<%= schedule.title == null ? '' : schedule.title%>'>
				  	</td> 
				  	<td>
			  			<div class="btn-group"> <a id='side-<%= schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" defaultValue="<%= sides[0]%>" href="#" ><%= schedule.side == null ? sides[0] : schedule.side %><span class="caret"></span></a>
						    <ul class="dropdown-menu">
						        <%
						        var j;
						        
						  		for(j = 0; j < sides.length; j++){
		
							  	%>
						        <li><a href="#" value='<%= sides[j]%>' ><%= sides[j]%></a></li>
							  	
							    <%	
							    	}
							    %>
						        
						    </ul>
						</div>
							
				  	</td> 
				  	<td>
			  			<div class="btn-group"> <a id='position-<%= schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" defaultValue="<%= shutterConfig[0].position%>" href="#" ><%= schedule.position == null ? shutterConfig[0].position : schedule.position %> <span class="caret"></span></a>
						    <ul class="dropdown-menu">
						        <%
						        var j;
						        for(j = 0; j < positions.length; j++){
		
							  	%>
						        <li><a href="#" value='<%= positions[j]%>' ><%= positions[j]%></a></li>
							  	
							    <%	
							    	}
							    %>
						        
						    </ul>
						</div>
							
				  	</td> 
				  	<td>
				  	 <%
				        var j;
				        
					  	
					  %>
					  	
			  			<div class="btn-group"> <a id='step-<%= schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" defaultValue="<%=  'Full Open'%>" href="#" ><%= schedule.step == null ? 'Full Open' : schedule.step%> <span class="caret"></span></a>
						    <ul class="dropdown-menu">
						       
							    <li><a href="#" value='<%= maxStepNum + 1%>' >Full Open</a></li>
						        <li class="divider"></li>
						        <%
						        var j;
						  		for(j = 1; j <= maxStepNum; j++){
							  	%>
						        <li><a href="#" value='<%= j%>' ><%= j + ' 단계'%></a></li>
							  	
							    <%
							    	}
							    %>
						        
						        <li class="divider"></li>
						        <li><a href="#" value='0' >Full Close</a></li>
							        
						        
						    </ul>
						</div>
							
				  	</td>
				  	<td >
				  		<input style='max-width: 125px;' id='start-<%= schedule.id%>'  type="time" data-format="hh:mm" class="form-control" placeholder="10:00" aria-describedby="basic-addon1" value="<%= schedule.start == null ? '' : schedule.start%>">
				  	</td> 
				  	<td >
				  		<input style='max-width: 125px;' id='end-<%= schedule.id%>'  type="time" data-format="hh:mm" class="form-control" placeholder="10:00" aria-describedby="basic-addon1" value="<%= schedule.end == null ? '' : schedule.end%>">
				  	</td> 
				  	<%
				  	 for(ev = 0; ev < environmentConfig.length; ev++){
				    	var envConf = environmentConfig[ev];
				    %>
					  	<%
					  	if(envConf.type == 'number'){
					  	%>
					  	<td>
					  	  <div class="material-switch pull-right">
	                            <input id='<%= envConf.unit + 'Apply-' + schedule.id%>' name='<%= envConf.unit + 'Apply-' + schedule.id%>' type="checkbox" <%= schedule[envConf.unit + 'Apply'] == null ? '' : schedule[envConf.unit + 'Apply'] == true ? 'checked': ''%>/>
	                            <label for='<%= envConf.unit + 'Apply-' + schedule.id%>' class="label-primary"></label>
	                      </div>
					  	</td>
					  	<td>
				  			<div class="btn-group"> <a id='<%= envConf.unit + 'Zone-' + schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#" ><%= schedule[envConf.unit + 'Zone'] == null ? envConf.zone : schedule[envConf.unit + 'Zone'] %><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							    	<%
							    	while(true){
							    		
							    		
							    	%>
							        <li><a href="#" value='<%= envConf.zone%>'><%= envConf.zone%></a></li>
							        <%
								        if(environmentConfig.length > (ev + 1) && envConf.unit == environmentConfig[ev+1].unit){
								        	ev++;
								        	
								        	envConf = environmentConfig[ev];
								        }else{
								        	break;
								        }
							        }
							        %>
							    </ul>
							</div>
					  	</td> 
					  	<td>
				  			<div class="btn-group"> <a id='<%= envConf.unit + 'Oper-' + schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#" ><%= schedule[envConf.unit + 'Oper'] == null ? '>' : schedule[envConf.unit + 'Oper'] %><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="#" value='>'><%='>'%></a></li>
								  	<li><a href="#" value='<'><%='<'%></a></li>
							    </ul>
							</div>
					  	</td> 
					  	
					  	<td>
					  		<input style='max-width: 120px; min-width:55px' id='<%= envConf.unit + '-' + schedule.id%>' type="number" name="quantity" class="form-control" placeholder="0" aria-describedby="basic-addon1" value="<%= schedule[envConf.unit] == null ? 0 : schedule[envConf.unit]%>">
					  	</td> 

				  	
					  	<%
					  	}else if(envConf.type == 'boolean') {
					  	%>
					  	<td>
					  	  <div class="material-switch pull-right">
	                            <input id='<%= envConf.unit + 'Apply-' + schedule.id%>' name='<%= envConf.unit + 'Apply-' + schedule.id%>' type="checkbox" <%= schedule[envConf.unit + 'Apply'] == null ? '' : schedule[envConf.unit + 'Apply'] == true ? 'checked': ''%>/>
	                            <label for='<%= envConf.unit + 'Apply-' + schedule.id%>' class="label-primary"></label>
	                      </div>
					  	</td>
					  	<td>
				  			<div class="btn-group"> <a id='<%= envConf.unit + 'Zone-' + schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#" ><%= schedule[envConf.unit + 'Zone'] == null ? envConf.zone : schedule[envConf.unit + 'Zone'] %><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							    	<%
							    	while(true){
							    	
							    	%>
							        <li><a href="#" value='<%= envConf.zone%>'><%= envConf.zone%></a></li>
							        <%
							     
								        if(environmentConfig.length > (ev + 1) && envConf.unit == environmentConfig[ev+1].unit){
								        	ev++;
								        	
								        	envConf = environmentConfig[ev];
								        }else{
								        	break;
								        }
							        }
							        %>
								 
							    </ul>
							</div>
					  	</td>
					  	 <td colspan=2>
				  			<div class="btn-group"> <a id='<%= envConf.unit + '-' + schedule.id%>' class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#" ><%= schedule[envConf.unit] == null ? 'true' : schedule[envConf.unit] %><span class="caret"></span></a>
							    <ul class="dropdown-menu">
							        <li><a href="#" value='true'>true</a></li>
							        <li><a href="#" value='false'>false</a></li>
							    </ul>
							</div>
					  	</td> 
					  	 
				  	<%
				  		}
				  	}
				  	%>
				    <td>
				  	  <div class="material-switch pull-right">
                            <input id='apply-<%= schedule.id%>' name='apply-<%= schedule.id%>' type="checkbox" <%= schedule.apply == null ? '' : schedule.apply == true ? 'checked': ''%>/>
                            <label for='apply-<%= schedule.id%>' class="label-primary"></label>
                      </div>
				  	</td>
				    <td><button type="button" onclick="scheduleAction('<%= schedule.id%>', 'add')"  class="btn btn-primary">Add</button></td>
	        		<td><button type="button" onclick="scheduleAction('<%= schedule.id%>', 'delete')"  class="btn btn-success">Delete</button></td>
				  </tr>
				  <%} %>
				</table>
			</div>
		 </div>
	   </div>
	   
		 <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="./jquery/dist/jquery.min.js"></script>
	    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="./socket.io/socket.io.js"></script>
	    <script src="./javascript/unitScheduleShutterController.js"></script>
	    <script src="./javascript/bootstrap-datetimepicker.min.js"></script>
  </body>
</html>